.App {
  padding-top: 1rem;
  text-align: center;
}

.smurf {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.smurf_text {
  width: 100%;
}

.edit,
.delete {
  cursor: pointer;
  user-select: none;
  margin: 1rem;
  padding: 0.25rem .5rem;
}

.edit {
  border: 1px solid rgb(112, 157, 226);
}

.delete {
  border: 1px solid rgb(255, 77, 77);
}

form {}

input,
button {
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  user-select: none;
  background: white;
}