body {
  background: #121316;
  color: white;
}

.App {
  padding-top: 1rem;
  text-align: center;
}

.logo {
  margin: 1rem 1rem 2rem;
}

.smurf {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.smurf_text {
  width: 100%;
}

.edit,
.delete {
  cursor: pointer;
  user-select: none;
  margin: 1rem 1rem 0;
  padding: 0.25rem .5rem;
}

.edit {
  border: 1px solid rgb(112, 157, 226);
}

.delete {
  border: 1px solid rgb(255, 77, 77);
}

form {
  margin-bottom: 2rem;
}

input,
button {
  color: white;
  background: rgba(0, 0, 0, 0);
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  user-select: none;
}

@media (max-width: 720px) {
  form {
    margin: 1rem 10%;
    flex-direction: column;
  }

  input {
    margin: 0.5rem 0;
    width: 70%;
  }

  button {
    margin: 0.5rem 0;
    width: 10rem;
  }
}